<%= form_for @booking, :html => { :class => "form-horizontal room" } do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :check_in, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :check_in, class: 'form-control' %>
    </div>
    <%=f.error_span(:check_in) %>
  </div>
  <div class="form-group">
    <%= f.label :check_out, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :check_out, class: 'form-control' %>
    </div>
    <%=f.error_span(:check_out) %>
  </div>
  <%= f.hidden_field :user_id, class: 'form-control'%>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                bookings_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
