<%- model_class = Room -%>
<div class="page-header">
  <h1>Select <%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:hotel_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% rooms.each do |room| %>
      <tr>
        <td><%= link_to room.id, hotel_room_path(room.hotel_id, room) %></td>
        <td><%= room.number %></td>
        <td><%= room.category %></td>
        <td><%= room.description %></td>
        <td><%= room.hotel.name %></td>
        <td><%=l room.created_at %></td>
        <td>
          <%= link_to t('.select', :default => t("helpers.links.select")),
                      hotel_room_path(room.hotel_id, room), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
