<%- model_class = Room -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              hotel_rooms_path(@room.hotel), :class => 'btn btn-default'  %>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:number) %>:</strong></dt>
  <dd><%= @room.number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_type) %>:</strong></dt>
  <dd><%= @room.room_type.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @room.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hotel_id) %>:</strong></dt>
  <dd><%= @room.hotel_id %></dd>
</dl>
<%= render '/bookings/form', booking: @booking, room: @room %>
