<%- model_class = Hotel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @hotel.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:room_count) %>:</strong></dt>
  <dd><%= @hotel.room_count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
  <dd><%= @hotel.location %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @hotel.description %></dd>
</dl>

  <%= render '/rooms/index', rooms: @rooms %>
